#parse("././globle.vm" )
<html>
<head>
<title>表单列表</title>
	<link href="$cxt/static/css/select2.min.css" rel="stylesheet" type="text/css"/>
	<link href="$cxt/static/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="$cxt/static/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="$cxt/static/js/select2/select2-403.min.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.dataTables.js?20170216"></script>
	<script type="text/javascript" src="$cxt/static/js/DT_bootstrap.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="$cxt/static/js/module/process-set.js?20170314"></script>
</head>
<body>
               <!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->
                <div class="portlet box ">

							<div class="portlet-title">

								<div class="caption"><i class="icon-globe">流程设置</i></div>
								
								<div class="actions">

									<a href="#" id="mySubmit" class="btn green"><i class="icon-plus"></i> 添加</a>

								</div>

							</div>
							
							<div class="portlet-body form">
							<form action="#" name="myform" id="myform" class="form-horizontal ">
							<input type="hidden" name="processDefinedId" value="${defined.processDefinedId}" />
							
							<div class="row-fluid">
								<div class="span6 ">
									<div class="control-group">
										<label class="control-label">全局表单</label>
										<div class="controls">
											<input type="text" name="formId" class="m-wrap span12" placeholder="选择表单">
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="span6 ">
									<div class="control-group">
										<label class="control-label">活动</label>
										<div class="controls">
											<select class="select2_activity" name="activityId" id="activity">
							                </select>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							
							
							</form>
							</div>
							
               </div>

				<div class="row-fluid">
				</div>
				
				<!-- END PAGE CONTENT-->
<script>

$(document).ready(function () {

var processDefinedId = $("#myform input[name=processDefinedId]").val();
            	$.ajax({
					url:cxt+'/bpm/queryProcessActivity',
					async:true,
					method:'POST',
					data:'processDefinitionId='+processDefinedId,
					dataType : 'json',
					error :function(resp){alert(resp)},
					success:function(resp){
						$(".select2_activity").select2({
							  "id": "id",
							  "text": "name",
							  "data": resp
						})
					}
				});

$("#mySubmit").click(function (){
  $("#myform").trigger("submit");
});





});


</script>
</body>
</html>