#parse("./globle.vm" )
<html>
<head>
<link href="$cxt/static/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
<link href="$cxt/static/css/select2.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="$cxt/static/js/select2/select2-403.min.js"></script>
<script type="text/javascript" src="$cxt/static/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="$cxt/static/js/jquery.form.min.js"></script>
<script type="text/javascript" src="$cxt/static/js/jquery.gritter.js"></script>
</head>
<body>
<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
<div class="portlet box ">

							<div class="portlet-title">

								<div class="caption"><i class="icon-globe">添加表单</i></div>
								
								<div class="actions">

									<a href="#" id="mySubmit" class="btn green"><i class="icon-plus"></i> 提交</a>

								</div>

							</div>
                                        <div class="portlet-body form">
											<!-- BEGIN FORM-->
											<form action="#" name="myform" id="myform" class="form-horizontal" enctype="multipart/form-data">
											<input type="hidden" name="formId" value="${formId}" />
											<input type="hidden" name="formContent" value="" />
												<div class="row-fluid">
													<div class="span6 ">
														<div class="control-group">
															<label class="control-label">名称</label>
															<div class="controls">
																<input type="text" name="formName" class="m-wrap span12" placeholder="表单名称">
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="span6 ">
														<div class="control-group">
															<label class="control-label">描述</label>
															<div class="controls">
																<input type="text" name="formDesc" class="m-wrap span12" placeholder="描述">
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row-fluid">
													<div class="span6 ">
														<div class="control-group">
															<label class="control-label">目录</label>
															<div class="controls">
																<select name="catalogId" class="span12 select2_category select2_parent_resource"  tabindex="1">
																	<option value=""></option>
																</select>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<h3 class="form-section">内容</h3>
												<!--/row-->                   
												<div class="row-fluid">
													<div class="span12 ">
														<div class="control-group">
															<div id="editor" style="height:600px;width: 65%;"></div>
														</div>
													</div>
												</div>
											</form>
											<!-- END FORM-->                
										</div>
										
</div>
<script>

if ( CKEDITOR.env.ie && CKEDITOR.env.version < 9 )
	CKEDITOR.tools.enableHtml5Elements( document );

// The trick to keep the editor in the sample quite small
// unless user specified own height.
CKEDITOR.config.height = 350;
CKEDITOR.config.width = 'auto';

var initSample = ( function() {
	var wysiwygareaAvailable = isWysiwygareaAvailable(),
		isBBCodeBuiltIn = !!CKEDITOR.plugins.get( 'bbcode' );
	wysiwygareaAvailable = true;

	return function() {
		var editorElement = CKEDITOR.document.getById( 'editor' );

		$.ajax({
						url:'$cxt/form/queryForm',
						async:false,
						method:'POST',
						data:'formId=$formId',
						dataType : 'json',
						error :function(resp){/*alert(resp)*/},
						success:function(resp){
							$('#myform input[name="formName"]').val(resp.formName);
							$('#myform input[name=formDesc]').val(resp.formDesc);
							editorElement.setHtml(resp.formContent);
						}
		});

		// Depending on the wysiwygare plugin availability initialize classic or inline editor.
		if ( wysiwygareaAvailable ) {
			//CKEDITOR.replace( 'editor' );
			/*CKEDITOR.replace( 'editor', {
		    filebrowserBrowseUrl: '$cxt/art/image/ckfinderPop',
		    filebrowserUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files&currentFolder=/archive/',
	        filebrowserImageUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images&currentFolder=/cars/',
	        filebrowserFlashUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
		});*/
		} else {
			//editorElement.setAttribute( 'contenteditable', 'true' );
			//CKEDITOR.inline( 'editor' );

			// TODO we can consider displaying some info box that
			// without wysiwygarea the classic editor may not work.
		}
		
		CKEDITOR.replace( 'editor', {
			// Load the timestamp plugin.
			extraPlugins: 'timestamp,abbr,simplebox,xd_textfield',
			// Rearrange toolbar groups and remove unnecessary plugins.
			toolbarGroups: [
				{ name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
				{ name: 'links' },
				{ name: 'insert' },
				{ name: 'document',	   groups: [ 'mode' ] },
				'/',
				//{ name: 'insert', items: [ 'Image', 'EmbedSemantic', 'Table' ] },
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
				{ name: 'paragraph',   groups: [ 'list', 'indent' ] },
				{ name: 'styles' }
			],
			removePlugins: 'font,iframe,pagebreak,flash,stylescombo,print,preview,save,smiley,pastetext,pastefromword',
			removeButtons: 'Anchor,Font,Strike,Subscript,Superscript'
		} );
		
		
	};

	function isWysiwygareaAvailable() {
		// If in development mode, then the wysiwygarea must be available.
		// Split REV into two strings so builder does not replace it :D.
		if ( CKEDITOR.revision == ( '%RE' + 'V%' ) ) {
			return true;
		}

		return !!CKEDITOR.plugins.get( 'wysiwygarea' );
	}
} )();

$(document).ready(function () {
initSample();
$("#mySubmit").click(function (){
   var data = CKEDITOR.instances.editor.getData();
   $('#myform input[name="formContent"]').val(data);
   $("#myform").trigger('submit');
});

$("#myform").ajaxForm({
    beforeSubmit:function(){
       var data = CKEDITOR.instances.editor.getData();
       $('#myform input[name="formContent"]').val(data);
    },
    dataType:'json',
	error:function (){sysNotify("操作失败，请联系管理员")},
	success:function(responseTxt){
	  sysNotify(responseTxt.responseMsg);
	},
	type:'POST',
	timeout:   5000,
	url:cxt+'/form/updateFormAction', 
});

function sysNotify(info){

var unique_id = $.gritter.add({
			                    position: 'bottom-right',
			                    title: '系统通知!',
			                    text: info,
			                    sticky: false,
			                    time: '2000',
			                    //class_name: 'my-sticky-class'
			                    class_name: 'gritter-success'
 });
}



$(".page-sidebar-menu li[name='流程管理']").addClass("active");

});


</script>

</body>
</html>