#parse("././globle.vm" )
<html>
<head>
<title>启动流程</title>
	<link href="$cxt/static/css/select2.min.css" rel="stylesheet" type="text/css"/>
	<link href="$cxt/static/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="$cxt/static/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="$cxt/static/js/select2/select2-403.min.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.dataTables.js?20170216"></script>
	<script type="text/javascript" src="$cxt/static/js/DT_bootstrap.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$cxt/static/js/jquery.form.min.js"></script>
</head>
<body>
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
	<div class="span12">
	</div>
</div>
<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

                                  <div class="portlet box blue">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i></div>

											<div class="tools">

												<a href="javascript:;" class="remove"></a>

											</div>

										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form id="myform" name="myform" action="${cxt}/bpm/createProcessInstanceAction" method="post" class="horizontal-form">
											<input type="text" id="key" name="key" value="${bpmProcessDef.key}" />
											<input type-"text" name="processDefineId" value="${bpmProcessDef.processDefinedId}" />
											<input type="text" id="employeeName" name="employeeName" value="wangxiaolei" />
											<input type="text" id="formId" name="formId" value="${bpmProcessDef.formId}" />

												 <div id="formContent"></div>

												<div class="form-actions">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
													
													<button type="submit" class="btn blue"><i class="icon-ok"></i> 提交申请</button>

													<button type="button" class="btn">取消</button>

												</div>

											</form>

											<!-- END FORM--> 

										</div>

									</div>


					</div>

				</div>

				<!-- END PAGE CONTENT-->
				
<script>
$(document).ready(function () {

var formId = $("#myform input[name=formId]").val();
            	$.ajax({
					url:cxt+'/form/queryForm',
					async:true,
					method:'POST',
					data:'formId='+formId,
					dataType : 'json',
					error :function(resp){alert(resp)},
					success:function(resp){
						$("#formContent").html(resp.formContent);
					}
				});

$(".page-sidebar-menu li[name='流程管理']").addClass("active");

});
</script>

</body>
</html>