               <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12"></div>
				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box purple">

							<div class="portlet-title">

								<div class="caption"><i class="icon-globe">角色-权限管理</i></div>
								
								<div class="actions">

									<a href="#" id="save" class="btn red"><i class="icon-save"></i> 保存</a>

								</div>

							</div>
                           
							<div class="portlet-body form">
							       <!-- BEGIN FORM-->   
                                   <!-- BEGIN end-->

							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET -->
						</div>
				</div>

				<div class="row-fluid">
				</div>
				
				<!-- END PAGE CONTENT-->
				
				<div class="row">
                            <div class="col-md-5">
                                <!-- BEGIN SAMPLE TABLE PORTLET-->
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-comments"></i>角色 </div>
                                        <div class="tools">
                                            <a href="#" id="searchRoleBtn" class="btn green"><i class="icon-search"></i> 查询</a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form action="#" name="searchRoleForm" id="searchRoleForm" class="form-horizontal ">
                                        <input type="hidden" name="roleId" value="" />
                                        <div class="row-fluid">
													<div class="span6 ">
														<div class="control-group">
															<div class="controls">
																<input type="text" name="roleName" value="" placeholder="角色名称">
															</div>
														</div>
													</div>
										</div>
										</form>
                                        <div class="table-scrollable">
                                           <table id="rolesTable" class="table table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#transactions .checkboxes" /></th>
                                                        <th> 编码 </th>
                                                        <th> 名称 </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END SAMPLE TABLE PORTLET-->
                            </div>
                            <div class="col-md-6">
                                <!-- BEGIN CONDENSED TABLE PORTLET-->
                                <div class="portlet box red">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-picture"></i>权限 </div>
                                        <div class="tools">
                                            <a href="#" id="mySubmit" class="btn green"><i class="icon-search"></i> 查询</a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form action="#" name="searchform" id="searchform" class="form-horizontal ">
                                        <input type="text" name="roleId" value="" />
                                        <div class="row-fluid">
													<div class="span6 ">
														<div class="control-group">
															<div class="controls">
																<input type="text" name="permissionId" id="permissionId" class="input-small" value="" placeholder="编码">
															</div>
														</div>
													</div>
													<div class="span6 ">
														<div class="control-group">
															<div class="controls">
																<input type="text" name="permissionName" id="permissionName" class="input-small" value="" placeholder="名称">
															</div>
														</div>
													</div>
										</div>
										</form>
                                        <div class="table-scrollable">
                                            <table id="permissionTable" class="table table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#transactions .checkboxes" /></th>
                                                        <th> 编码 </th>
                                                        <th> 名称 </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END CONDENSED TABLE PORTLET-->
                            </div>
                        </div>
				
				<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="/deep/static/js/select2.min.js"></script>

	<script type="text/javascript" src="/deep/static/js/jquery.dataTables.js?20170216"></script>

	<script type="text/javascript" src="/deep/static/js/DT_bootstrap.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/deep/static/js/module/role-permission.js?20170306"></script>