	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2013 &copy; Metronic by keenthemes.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	

	

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="$cxt/static/js/app.js"></script>

	<script>

		jQuery(document).ready(function() {       

		   App.init();

		   //TableManaged.init();

		});

	</script>
<!-- END BODY -->
</body>
</html>