<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.bpm.mapper.AutoAppInfoMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.bpm.domain.AutoAppInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
    <result column="app_desc" jdbcType="VARCHAR" property="appDesc" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, app_code, app_name,ip_addr, app_desc, gmt_create, gmt_modify
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.bpm.domain.AutoAppInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from auto_app_info
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="appCode != null">
             app_code like CONCAT(CONCAT('%', #{appCode}), '%')
          </if>
        </trim>
        <trim prefix="AND">
          <if test="id != null">
             ID = #{id} 
          </if>
        </trim>
        
      </trim>
    </where>
     ORDER BY id DESC 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auto_app_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.Integer">
    delete from auto_app_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.bpm.domain.AutoAppInfo">
    insert into auto_app_info (id, app_code, app_name, ip_addr,
      app_desc, gmt_create, gmt_modify
      )
    values (#{id,jdbcType=INTEGER}, #{appCode,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{ipAddr,jdbcType=VARCHAR}, 
      #{appDesc,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.bpm.domain.AutoAppInfo">
    update auto_app_info
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null">
        app_desc = #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
     WHERE ID = #{id} 
  </update>
</mapper>