<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.bpm.mapper.BpmProcessDefinedSetMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.bpm.domain.BpmProcessDefinedSet">
    <id column="process_defined_id" jdbcType="VARCHAR" property="processDefinedId" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    process_defined_id, activity_id, form_id, user_id, role_id
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.bpm.domain.BpmProcessDefinedSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bpm_process_defined_set
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="id != null">
             ID = #{id} 
          </if>
        </trim>
      </trim>
    </where>
     ORDER BY GMT_MODIFY DESC 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bpm_process_defined_set
    where process_defined_id = #{processDefinedId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryProcessDefSet" parameterType="com.bplow.deep.bpm.domain.BpmProcessDefinedSet" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from bpm_process_defined_set
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="processDefinedId != null and processDefinedId != ''">
             process_defined_id = #{processDefinedId} 
          </if>
        </trim>
        <trim prefix="AND">
          <if test="activityId != null and activityId != ''">
             activity_id = #{activityId} 
          </if>
        </trim>
      </trim>
    </where>
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from bpm_process_defined_set
    where process_defined_id = #{processDefinedId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.bpm.domain.BpmProcessDefinedSet">
    insert into bpm_process_defined_set (process_defined_id, activity_id, form_id, 
      user_id, role_id)
    values (#{processDefinedId,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{formId,jdbcType=BIGINT}, 
      #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.bpm.domain.BpmProcessDefinedSet">
    update bpm_process_defined_set
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
     WHERE process_defined_id = #{processDefinedId,jdbcType=VARCHAR} and activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
</mapper>