<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.bpm.mapper.BpmServiceMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.bpm.domain.ProcessInstanceInfo">
    <id column="PROC_INST_ID_" jdbcType="INTEGER" property="processInstanceId" />
    <result column="PROC_DEF_ID_" jdbcType="VARCHAR" property="processDefineId" />
    <result column="NAME_" jdbcType="VARCHAR" property="processName" />
    <result column="proce_status" jdbcType="VARCHAR" property="processStatus" />
    <result column="START_TIME_" jdbcType="VARCHAR" property="startDate" />
  </resultMap>
  
  <resultMap id="TaskResultMap" type="com.bplow.deep.bpm.domain.ProcessInstanceInfo">
    <id column="ID_" jdbcType="INTEGER" property="taskId" />
    <id column="PROC_INST_ID_" jdbcType="INTEGER" property="processInstanceId" />
    <result column="NAME_" jdbcType="VARCHAR" property="processName" />
    <result column="proce_status" jdbcType="VARCHAR" property="processStatus" />
    <result column="CREATE_TIME_" jdbcType="VARCHAR" property="startDate" />
    <result column="ASSIGNEE_" jdbcType="VARCHAR" property="assignee" />
  </resultMap>
  
  <select id="queryProcessInstanceItemForPage" parameterType="com.bplow.deep.bpm.domain.ProcessInstanceInfo" resultMap="BaseResultMap">
    select a.PROC_INST_ID_,a.PROC_DEF_ID_,a.START_TIME_,a.START_USER_ID_,a.NAME_ ,b.ACT_ID_ proce_status
          from act_hi_procinst a left join act_ru_execution b 
           on a.PROC_INST_ID_ = b.PROC_INST_ID_ 
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="processInstanceId != null">
             a.PROC_INST_ID_ like CONCAT(CONCAT('%', #{processInstanceId}), '%')
          </if>
        </trim>
        
      </trim>
    </where>
     ORDER BY a.START_TIME_ DESC 
  </select>
  
  <select id="queryTasksForPage" parameterType="com.bplow.deep.bpm.domain.ProcessInstanceInfo" resultMap="TaskResultMap">
  select t.ID_,t.PROC_INST_ID_,t.PROC_DEF_ID_,t.NAME_,t.DESCRIPTION_,t.CREATE_TIME_,t.ASSIGNEE_,'' proce_status
  from act_ru_task t
  <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="processInstanceId != null">
             t.PROC_INST_ID_ like CONCAT(CONCAT('%', #{processInstanceId}), '%')
          </if>
        </trim>
        
      </trim>
    </where>
     ORDER BY t.CREATE_TIME_ DESC 
  </select>
  
</mapper>