<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.stock.mapper.SkCustomerWarnMapper">

	<resultMap id="BaseResultMap" type="com.bplow.deep.stock.domain.SkCustomerWarn">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
		<result column="stock_id" jdbcType="VARCHAR" property="stockId" />
		<result column="value" jdbcType="DOUBLE" property="value" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, rule_id, stock_id,value, status, gmt_create
	</sql>

	<select id="queryForPage" parameterType="com.bplow.deep.stock.domain.SkCustomerWarn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sk_customer_warn
		<where>
			<trim prefixOverrides="AND">
				<trim prefix="AND">
					<if test="id != null">
						ID = #{id}
					</if>
				</trim>
				<trim prefix="AND">
					<if test="status != null">
						status = #{status}
					</if>
				</trim>
			</trim>
		</where>
		ORDER BY GMT_MODIFY DESC
	</select>

	<select id="selectCustomerWarns" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sk_customer_warn
		where user_id = #{userId,jdbcType=VARCHAR} and stock_id =
		#{stockId,jdbcType=VARCHAR}
	</select>

	<select id="obtainAllUserStockId" resultMap="BaseResultMap">
		select distinct a.user_id,a.stock_id
		from sk_customer_warn a
		where a.status = '1'
	</select>

	<select id="selectByPrimaryKey" parameterType="com.bplow.deep.stock.domain.SkCustomerWarn"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sk_customer_warn
		<where>
			<trim prefixOverrides="AND">
				<trim prefix="AND">
					<if test="id != null">
						ID = #{id}
					</if>
				</trim>
				<trim prefix="AND">
					<if test="userId != null">
						user_id = #{userId}
					</if>
				</trim>
				<trim prefix="AND">
					<if test="stockId != null">
						stock_id = #{stockId}
					</if>
				</trim>
			</trim>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sk_customer_warn
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.bplow.deep.stock.domain.SkCustomerWarn">
		insert into sk_customer_warn (id, user_id, rule_id,
		stock_id,value, status, gmt_create,gmt_modify
		)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{ruleId,jdbcType=VARCHAR},
		#{stockId,jdbcType=VARCHAR}, #{value,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR},
		#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.bplow.deep.stock.domain.SkCustomerWarn">
		update sk_customer_warn
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="ruleId != null">
				rule_id = #{ruleId,jdbcType=VARCHAR},
			</if>
			<if test="stockId != null">
				stock_id = #{stockId,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE ID = #{id}
	</update>
</mapper>