<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.stock.mapper.SkWarehousePositonMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.stock.domain.SkWarehousePositon">
    <id column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="yester_price" jdbcType="DOUBLE" property="yesterPrice" />
    <result column="today_price" jdbcType="DOUBLE" property="todayPrice" />
    <result column="market_value" jdbcType="DOUBLE" property="marketValue" />
    <result column="sort_by" jdbcType="BIGINT" property="sortBy" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="except_amount" jdbcType="BIGINT" property="exceptAmount" />
    <result column="except_price" jdbcType="DOUBLE" property="exceptPrice" />
  </resultMap>
  
  <sql id="Base_Column_List">
    stock_id, stock_name, amount, yester_price, today_price, market_value, sort_by, gmt_create, 
    gmt_modify,except_amount,except_price
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.stock.domain.SkWarehousePositon" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sk_warehouse_positon
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="stockId != null and stockId != ''">
             stock_id = #{stockId} 
          </if>
        </trim>
      </trim>
    </where>
     ORDER BY GMT_MODIFY DESC 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sk_warehouse_positon
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sk_warehouse_positon
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.stock.domain.SkWarehousePositon">
    insert into sk_warehouse_positon (stock_id, stock_name, amount, 
      yester_price, today_price, market_value, 
      sort_by, gmt_create, gmt_modify,except_amount,except_price
      )
    values (#{stockId,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{yesterPrice,jdbcType=DOUBLE}, #{todayPrice,jdbcType=DOUBLE}, #{marketValue,jdbcType=DOUBLE}, 
      #{sortBy,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
      #{exceptAmount,jdbcType=BIGINT},#{exceptPrice,jdbcType=DOUBLE}
      )
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.stock.domain.SkWarehousePositon">
    update sk_warehouse_positon
    <set>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="yesterPrice != null">
        yester_price = #{yesterPrice,jdbcType=DOUBLE},
      </if>
      <if test="todayPrice != null">
        today_price = #{todayPrice,jdbcType=DOUBLE},
      </if>
      <if test="marketValue != null">
        market_value = #{marketValue,jdbcType=DOUBLE},
      </if>
      <if test="sortBy != null">
        sort_by = #{sortBy,jdbcType=BIGINT},
      </if>
        gmt_modify = now()
    </set>
     WHERE stock_id = #{stockId} 
  </update>
</mapper>