<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.sysmng.mapper.SysOrganizationMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.sysmng.domain.SysOrganization">
    <id column="organization_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  
  <sql id="Base_Column_List">
    organization_id, organization_name, remark, status, gmt_create, gmt_modify
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.sysmng.domain.SysOrganization" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_organization
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="organizationId != null">
             organization_id = #{organizationId} 
          </if>
        </trim>
      </trim>
    </where>
     ORDER BY GMT_MODIFY DESC 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_organization
    where organization_id = #{organizationId,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_organization
    where organization_id = #{organizationId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.sysmng.domain.SysOrganization">
    insert into sys_organization (organization_id, organization_name, 
      remark, status, gmt_create, 
      gmt_modify)
    values (#{organizationId,jdbcType=VARCHAR}, #{organizationName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.sysmng.domain.SysOrganization">
    update sys_organization
    <set>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
     WHERE ID = #{id} 
  </update>
</mapper>