<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.sysmng.mapper.SysRoleMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.sysmng.domain.SysRole">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
  </resultMap>
  
  <sql id="Base_Column_List">
    role_id, role_name, status, gmt_create, gmt_modify
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.sysmng.domain.SysRole" resultMap="BaseResultMap">
    select
    a.*,
    <choose>
    <when test="userId !=null and userId != ''">
    (select count(1) from sys_user_role b where b.role_id = a.role_id
            and b.user_id = #{userId}
    ) checked
    </when>
    <otherwise>
    0 checked
    </otherwise>
    </choose>
    from sys_role a
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="roleId != null and roleId != '' ">
             a.role_id = #{roleId} 
          </if>
        </trim>
      </trim>
    </where>
     ORDER BY a.GMT_MODIFY DESC 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.sysmng.domain.SysRole">
    insert into sys_role (role_id, role_name, status, 
      gmt_create, gmt_modify)
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.sysmng.domain.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
        gmt_modify = now()
    </set>
     WHERE role_id = #{roleId} 
  </update>
</mapper>