<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bplow.deep.sysmng.mapper.SysUserRoleMapper">
  
  <resultMap id="BaseResultMap" type="com.bplow.deep.sysmng.domain.SysUserRole">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, role_id, gmt_create, gmt_modify
  </sql>
  
  <select id="queryForPage" parameterType="com.bplow.deep.sysmng.domain.SysUserRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user_role
    <where>
      <trim prefixOverrides="AND">
        <trim prefix="AND">
          <if test="userId != null and userId != ''">
             user_id = #{userId} 
          </if>
        </trim>
      </trim>
    </where>
     ORDER BY GMT_MODIFY DESC 
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
  delete from sys_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
    and role_id in
		<foreach item="id" index="index" collection="roleIdList" open="("
			separator="," close=")">
			#{id}
		</foreach>
  </delete>
  
  <insert id="insert" parameterType="com.bplow.deep.sysmng.domain.SysUserRole">
    insert into sys_user_role (user_id, role_id, gmt_create, 
      gmt_modify)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="update" parameterType="com.bplow.deep.sysmng.domain.SysUserRole">
    update sys_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
     WHERE ID = #{id} 
  </update>
</mapper>